<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimpleCal</title>

    <link rel="stylesheet" href="src/styles.css">

</head>
<body>

<div id="app">


    <div id="root_buttons">
        <div v-on:click="more('-1')" id="button_up" class="button"></div>
        <div v-on:click="more('1')" id="button_down" class="button"></div>
    </div>

    <div id="cont">

        <div>{{today.day}}.{{today.month}}.{{today.year}}</div>

        <div v-for="week, weekIndex in weeks">

            <div class="wk"
            v-bind:class="{ 'toppi': typeof weeks[weekIndex - 1] != 'undefined' ? weeks[weekIndex - 1][6].month() != week[6].month() : '' }">
            <div class="viikkonro">{{ week[0].week() }} </div>


                <template v-for="day in week">
                            <div class="pv"
                            v-bind:class="{ 'today': day.calendar() === today.obj.calendar() }">{{day.date()}}</div>
                </template>


                </div>

                <div class="month_name"></div>


        </div>


    </div>
</div>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="src/cal.js"></script>

</body>
</html>